
head {
    background-color: rgb(228, 238, 200)
}

body {
    background-color: rgb(228, 238, 200);
}
.container {
    background-color: rgb(228, 238, 200);
}
.introduction {
    background-color: rgb(228, 238, 200);
}
h1 {
    color: rgb(126, 128, 23);
    margin: 20px;
  }
h3 {
    color: rgb(141, 158, 62);
    margin: 20px;
  }
  
