
head {
    background-color: rgb(228, 238, 200)
}

body {
    background-color: rgb(228, 238, 200);
}
.container {
    background-color: rgb(228, 238, 200);
}
.introduction {
    background-color: rgb(228, 238, 200);
}
h1 {
    color: rgb(126, 128, 23);
    margin: 500px 100px;
  }
h3 {
    color: rgb(141, 158, 62);
    margin: 500px 100px;
  }
  
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
li
{
	display:inline;
}
a:link,a:visited
{
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	background-color:#7A991A;
}
