<!doctype html>
<html>
    <body>
        <div class = "container">
            <header>
                <nav>
                    <a href="/index.html">Gallery</a>
                    <a href="/about.html">About</a>
                    <a href="/search.html">Search</a>
                </nav>
    <h1 id = "index-heading">Chinese Mianshi Gallery</h1>
    <h1 style = "background-color: rgb(228, 238, 200)"></h1>
    <h3 id = "index-heading3">An online archive that introduces the characteristics and history of 
  Mianshi (pasta foods) from 7 regions of China.</h3>
            </header>
            <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <body style = "background-color: rgb(228, 238, 200)"></body>
</head>
    <div class="container">

        <img src = "{{ page.image-url }}" width = 500>
        <p>{{ page.title }} </p>
        <p>{{ page.l1 }}</p>
        <p>{{ page.l2 }}</p>
        <p>{{ page.l3 }}</p>
        <p>{{ page.l4 }}</p>
        <p>{{ page.l5 }}</p>
        <p>{{ page.l6 }}</p>
        <p>{{ page.l7 }}</p>
    </div>
</body>
</html>
